.plot-title {
    margin-bottom: 5px;
}

.plot {
    font: 10px sans-serif;
}

.pie {
    font: 14px sans-serif;
}

.tick line {
    opacity: 0.3;
}

.focus circle {
    fill: #F1F3F3;
    stroke: #6F257F;
    stroke-width: 5px;
}

.plot-tooltip rect {
    fill: #626D71;
}

.plot-tooltip text {
    fill: #ffffff;
    font: 14px sans-serif;
}

.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

.airport-list a {
    padding: 0.75rem 0.5rem;
}

.sort-button {
    margin-right: 6px;
}
.sort-button i {
    font-size: 20px;
}

.code {
    color: black;
    background-color: #f3f3f3;
    padding: 3px 6px;
}
.code-panel {
    padding: 0;
}
.code-panel pre {
    margin: 0;
}
.code-spoiler {
    margin-bottom: 10px;
}

.navbar {
    margin-bottom: 10px;
    font-size: 16pt;
}

footer {
    padding: 10px 0;
}

.shadowcard {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

.shadowcard:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.axis { font: 12px sans-serif; }